<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
            <a class="navbar-brand" href="{{ path('admin.index') }}">
                <span class="fs-4">Administration</span>
            </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li>
            <a class="nav-link px-2 {{ app.current_route == 'admin.index' ? 'link-secondary' : '' }}" href="{{ path('admin.index') }}">Accueil</a>
        </li>
        <li>
            <a class="nav-link px-2 {{ app.current_route starts with 'category.' ? 'link-secondary' : '' }}" href="{{ path('category.index') }}">Catégories</a>
        </li>
      </ul>

      <div class="col-md-3 text-end">
        {% if app.user %}
            <div class="d-flex align-items-center">
                <span class="me-2">{{ app.user.userIdentifier }}</span>
                <a class="btn btn-primary" href="{{ path('logout') }}">Logout</a>
            </div>
        {% endif %}
      </div>
    </header>
</div>