<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
            <a class="navbar-brand" href="{{ path('home.index') }}">
                <span class="fs-4">MyRecipes</span>
            </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li>
            <a class="nav-link px-2 {{ app.current_route == 'home.index' ? 'link-secondary' : '' }}" href="{{ path('home.index') }}">Accueil</a>
        </li>
        <li class="nav-item dropdown px-2">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Recettes
          </a>
          <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ path('recipe.category.index', {'slug': 'entrees'}) }}">Entrées</a></li>
              <li><a class="dropdown-item" href="{{ path('recipe.category.index', {'slug': 'plats'}) }}">Plats</a></li>
              <li><a class="dropdown-item" href="{{ path('recipe.category.index', {'slug': 'desserts'}) }}">Desserts</a></li>
              <li><a class="dropdown-item" href="{{ path('recipe.index') }}">Toutes les recettes</a></li>
          </ul>
        </li>
      </ul>

      <div class="col-md-3 text-end">
        <a class="btn btn-outline-primary me-2" href="{{ path('login') }}">Login</a>
        <a class="btn btn-primary" href="{{ path('register') }}">Sign-up</a>
      </div>
    </header>
</div>